---
import Imagen from "./Imagen.astro";
import FramePdf from "./FramePdf.astro";
import Modal from "./Modal.astro";

const name = "Jose Flores";
const carrera = "Ingeniero de Sistemas";
const country = "Perú";
const email = "jfloresxc@gmail.com";
---

<section class="hero" id="hero">
  <div class="hero__container-data">
    <h1 class="hero__title animate__animated animate__bounce">
      {name}
    </h1>
    <div
      class="hero__container-description animate__animated animate__bounce"
    >
      <p class="hero__description">{carrera} | {country}</p>
      <p class="hero__email">{email}</p>
    </div>

    <div class="hero_button">
      <Modal textButtonShow="Atisbar CV">
        <main slot="main">
          <FramePdf />
        </main>
      </Modal>
    </div>
  </div>

  <Imagen
    url="storage/perfil.jpg"
    description="Perfil"
    isImageOfHero={true}
  />
</section>
<style>
  .hero__email,
  .hero__description {
    text-transform: uppercase;
    font-size: 1.1em;
  }

  .hero {
    padding-top: calc(var(--height-navbar) + 4em);
    width: 100%;
    min-height: 900px;
    background: var(--colors-primary);

    color: var(--colors-light);
    display: flex;
  }

  .hero__container-data {
    width: 60%;
    padding: 0 var(--padding-width);
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .hero__container-description {
    display: flex;
    gap: 5em;
  }

  .hero__title {
    font-size: 10em;
    grid-column: 1/3;
  }

  .hero_button {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 900px) {
    .hero__container-data,
    .hero__image {
      width: 100%;
    }

    .hero {
      flex-direction: column;
    }

    .hero__container-data {
      gap: 0;
    }

    .hero__title {
      font-size: 6em;
      padding: 1em 0;
    }

    .hero__image {
      max-height: 600px;
      padding: var(--padding-width);
    }
  }

  @media screen and (max-width: 600px) {
    .hero__container-description {
      padding-top: 1em;
      flex-direction: column;
      gap: 1em;
    }
  }
</style>
